@model IEnumerable<Myzj.OPC.UI.Model.BaseCouponConfig.SendCouponRecordDetailExt>
@{
    Layout = null;
}
<style>
    .gl-title {
        padding: 10px 0;
        height: 36px;
    }
</style>
@{
    if (Model != null && Model.Any())
    {
    <div class="resultDiv">
        <table class="resultTable" id="calcTotalAmount">
            <thead>
                <tr class="gl-title">
                    <th>
                        <input type="checkbox" id="chkAll" /></th>
                    @*<th>SysNo</th>*@
                    @*  <th>优惠券ID</th>*@
                    <th>优惠券Key</th>
                    <th>优惠券名称</th>
                    <th>优惠券描述</th>
                    <th>会员ID</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>发券时间</th>
                    <th>发券描述</th>
                    <th>发券人ID</th>
                    <th>使用订单</th>
                    <th>优惠码</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th>作废</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.IsEnable == true && string.IsNullOrEmpty(item.OrderCode))
                        {
                               
                            <td>
                                <input type="checkbox" name="chkItem" value="@item.ID" />
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @* <td>@item.ID</td>*@
                        @*  <td>@item.SysNo</td>*@
                        <td>@item.CouponKey</td>
                        <td>@item.CouponName</td>
                        <td>@item.CouponDescription</td>
                        <td>@item.UserId</td>
                        <td>@item.StartTime</td>
                        <td>@item.EndTime</td>
                        <td>@item.CreateTime</td>
                        <td>@item.SendDescription</td>
                        <td>@item.Operator</td>
                        <td>@item.OrderCode</td>
                        <td>@item.DiscountCode</td>
                        <td>@item.Remarks</td>
                        @if (item.IsEnable == true && item.IsDelete == false)
                        {
                            <td>有效 
                            </td>
                        }
                        else
                        {
                            <td>无效 
                            </td>
                        }

                        @if (item.IsEnable == true && string.IsNullOrEmpty(item.OrderCode))
                        {
                            <td>
                                <input type="button" value="作废" onclick=" cancelCoupon(@item.ID, this); ">
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }


                    </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    }
}

