@using Myzj.OPC.UI.Model.Base
@model Myzj.OPC.UI.Model.WebAward.WebAwardRecordRefer
<h2 style="text-align: center; border: 1px solid #2c97dd; background-color: #2c97dd; border-radius: 7px">拉取特殊奖品明细</h2>
<table class="showDetailTable">
    <tbody>
        <tr>
            <td>开始时间:</td>
            <td>
                @Html.TextBoxFor(m => m.SearchDetail.DtStartCreateTime)
            </td>
            <td>结束时间:</td>
            <td>
                @Html.TextBoxFor(m => m.SearchDetail.DtLastCreateTime)
            </td>
        </tr>
    </tbody>
</table>
<div class="rowButton">
    <input type="button" value="拉取" class="WebAwardRecordSpecial" />
</div>
<iframe class="Diviframe" style="display: none;" scrolling="no" width="100%" id="iframePath" name="main_content"
    frameborder="0" scrolling="auto" onload="this.height=50;this.height=main_content.document.body.scrollHeight>50?main_content.document.body.scrollHeight:50;"></iframe>

<h2 style="text-align: center; border: 1px solid #2c97dd; background-color: #2c97dd; border-radius: 7px">抽奖明细</h2>

@using (Html.BeginForm())
{
    <table class="showDetailTable">
        <tbody>
            <tr>
                <td>用户ID:</td>
                <td>
                    @Html.TextBoxFor(m => m.SearchDetail.IntUserId)
                </td>
                <td>用户邮箱:</td>
                <td>
                    @Html.TextBoxFor(m => m.SearchDetail.VchEmail)
                </td>
            </tr>
            <tr>
                <td>用户手机号码:</td>
                <td>
                    @Html.TextBoxFor(m => m.SearchDetail.VchLoginMobile)
                </td>
                <td>优惠劵:</td>
                <td>
                    @Html.TextBoxFor(m => m.SearchDetail.IntPrizeType)
                </td>
            </tr>
            <tr>
                <td>奖项:</td>
                <td>
                    @Html.DropDownList("SearchDetail.IntPrizeNo", "--All--")
                </td>
                <td>类型:</td>
                <td>
                    @Html.DropDownListFor(m => m.SearchDetail.IntPrizeType, new KvSelectList(typeof(AppEnum.IntPrizeType).GetEnumList()), true)
                </td>
            </tr>
            <tr>
                <td>开始时间:</td>
                <td>
                    @Html.TextBoxFor(m => m.SearchDetail.DtCreateTime)
                </td>
                <td>结束时间:</td>
                <td>
                    @Html.TextBoxFor(m => m.SearchDetail.DtEndCreateTime)
                </td>
            </tr>
        </tbody>
    </table>
    var success = @ViewData["SuccessMsg"];
    if (null != success)
    {
    <span style="color: green">@success</span>
    }
    var notice = @ViewData["ErrorMsg"];
    if (null != notice)
    {
    <span style="color: red">@notice</span>
    }
    @Html.Partial("WebAwardRecordItem", @Model.List)
   
    @Html.Partial("Pager", @Model)
}

<script type="text/javascript">
    $(function () {
        //拉取特殊中奖信息
        $(".WebAwardRecordSpecial").click(function () {
            var startDate = $("input[name='SearchDetail.DtStartCreateTime']").val();
            var endDate = $("input[name='SearchDetail.DtLastCreateTime']").val();
            var id = @ViewBag.Id;

            if (startDate==null  || startDate=="" || endDate==null || endDate=="") {
                alert("请选择需要拉取的时段... ...");
                return false;
            }
            $(".Diviframe").attr("src", "/WebAward/WebAwardRecordSpecialItem?intawardid=" + id + "&dtCreateTime=" + startDate + "&dtEndCreateTime=" + endDate);

            $(".Diviframe").show();
        });
    });
</script>
